@model FinalCapstone.User

@{
    ViewBag.Title = "Delete";
}



<h3>Are you sure you want to remove this person?</h3>
<div>
    <h4>User Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt> 
           First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_name)
        </dd>

        <dt>
           LastName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.l_name)
        </dd>

        <dt>
          ID Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idnumber)
        </dd>

        <dt>
           Password
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
           Batch
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batch.batch1)
        </dd>     
        <dt>
           Program
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Program.program1)
        </dd>

        <dt>
           User Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.user_type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
