@model IEnumerable<FinalCapstone.Class>

@{
    ViewBag.Title = "Index";
}


<input id="myInput" type="text" placeholder="Search Here" style="float:right">
<p>
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#0275d8" class="bi bi-folder-plus" viewBox="0 0 16 16">
        <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z" />
        <path d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z" />
    </svg>
    @Html.ActionLink("Create a new Class", "Create", "Classes", new { @class = "btn btn-outline-primary " })
</p>
<table class="table" id="mytable">
    <tr>
        <th>   
            Course Code
        </th>
        <th>
            Subject Name
        </th>
        <th>
            Room Number
        </th>
        <th>
            Time Start
        </th>
        <th>
            Time End
        </th>
        <th>
            <center>
                Day
            </center>
        </th>
        <th>
            <center>
                Group Number
                </center>
        </th>
        <th>
            <center>
                Professor
                </center>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr> 

    <td>
        @Html.DisplayFor(modelItem => item.Subject.Course.courseno)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Subject.Course.coursetitle)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Classroom.room_number)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Schedule.time_start)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Schedule.time_end)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Schedule.day)
    </td>
    <td>
        <center>
            @Html.DisplayFor(modelItem => item.group_no)
        </center>
    </td>
    <td>
        <center>
            @Html.DisplayFor(modelItem => item.User.f_name)
            </center>
    </td>
    <td>
        <pre>          
        <button class="btn btn-outline-primary" onclick="location.href='@Url.Action("Edit","Classes", new { id =item.class_id})'">Edit</button> <button class="btn btn-outline-danger" onclick="location.href='@Url.Action("Delete","Classes", new { id =item.class_id})'">Delete</button>
        </pre>
    </td>

</tr>
}

</table>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#mytable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>